{% extends "layout.njk" %}

{% block content %}
<div id="about">
   <h1>Sobre</h1>
</div>

<section id="cards">
   <div id="card">
      <div class="card__image-container">
         <img src="nodejslogo.png" alt="node.js">
      </div>
      <div class="card__content">
         <p>Backend em Node.js</p>
      </div>
      <div class="card__info">
         Domino basicamente a linguagem javascript e já possuo conhecimentos em node.js
      </div>
   </div>
   <div id="card">
      <div class="card__image-container">
         <img src="nodejslogo.png" alt="node.js">
      </div>
      <div class="card__content">
         <p>Backend em Node.js</p>
      </div>
      <div class="card__info">
         Domino basicamente a linguagem javascript e já possuo conhecimentos em node.js
      </div>  
   </div>       
   <div id="card">
      <div class="card__image-container">
         <img src="nodejslogo.png" alt="node.js">
      </div>
      <div class="card__content">
         <p>Backend em Node.js</p>
      </div>
      <div class="card__info">
         Domino basicamente a linguagem javascript e já possuo conhecimentos em node.js
      </div>
   </div>
</section>

{% endblock %}