{% extends "layout.njk" %}

{% block content %}

<div id="wrapper">
   <img src="https://avatars2.githubusercontent.com/u/46287866?s=460&u=79ec23d30dff346487b49cb38f49699228c7f3bc&v=4" alt="Diogo Reis">
   <h1>Diogo Reis</h1>
   <p>Programador back-end.</p>
   <h2>Adolescente apaixonado por tecnologia!</h2>
   
</div>

{% endblock %}